# Data Visualisation of COVID-19 in the UK using Sqlite, Pandas and Seaborn Libraries 
## Part 1: Creating the Database

This is the first notebook in a 3-part series which explores the UK Gov's COVID-19 dashboard data which is publically available for download via a REST API from gov.uk.  We make use of a Sqlite3 database to query this data using SQL and import aggregations into Pandas data frames.  We then use the Seaborn library to visualise the results.

In this notebook (Part 1) - we create a set of empty tables required for storing the data.  Part 2 then looks at loading the data using the GOV.UK REST API.  Finally Part 3 will then query and visualise the data.

The data used in this notebook is publically available and more information can be found here:
https://coronavirus.data.gov.uk/details/about-data

### Configuration and Setup

Not much to do here apart from import the sqlite3 library and create a connection to a database file.  It doesn't matter if this database doesn't yet exist.  Also import pandas for selecting SQL metadata from the database.

In [ ]:
import sqlite3
import pandas as pd

sqlite_db_path = "c19.db"
conn = sqlite3.connect(sqlite_db_path)

### c19dashboard_uk__national_daily_metrics

This is used to store data downloaded where areaType = Nation.  For more details see: https://coronavirus.data.gov.uk/details/developers-guide

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS c19dashboard_uk__national_daily_metrics;

CREATE TABLE c19dashboard_uk__national_daily_metrics (
    area_type                                           TEXT        NOT NULL,
    area_name                                           TEXT        NOT NULL,
    area_code                                           TEXT        NOT NULL,
    date                                                DATE        NOT NULL,
    new_cases_by_publish_date                           NUMERIC     NULL,
    cum_cases_by_publish_date                           NUMERIC     NULL,
    cum_cases_by_publish_date_rate                      NUMERIC     NULL,
    new_cases_by_specimen_date                          NUMERIC     NULL,
    cum_cases_by_specimen_date                          NUMERIC     NULL,
    cum_cases_by_specimen_date_rate                     NUMERIC     NULL,
    male_cases                                          TEXT        NULL,
    female_cases                                        TEXT        NULL,    
    new_pillar_one_tests_by_publish_date                NUMERIC     NULL,
    cum_pillar_one_tests_by_publish_date                NUMERIC     NULL,
    new_pillar_two_tests_by_publish_date                NUMERIC     NULL,
    cum_pillar_two_tests_by_publish_date                NUMERIC     NULL,
    new_pillar_three_tests_by_publish_date              NUMERIC     NULL,
    cum_pillar_three_tests_by_publish_date              NUMERIC     NULL,
    new_admissions                                      NUMERIC     NULL,
    cum_admissions                                      NUMERIC     NULL,
    cum_admissions_by_age                               TEXT        NULL,
    cum_tests_by_publish_date                           NUMERIC     NULL,
    new_tests_by_publish_date                           NUMERIC     NULL,
    covid_occupied_mv_beds                              NUMERIC     NULL,
    hospital_cases                                      NUMERIC     NULL,
    new_deaths_28_days_by_publish_date                  NUMERIC     NULL,
    cum_deaths_28_days_by_publish_date                  NUMERIC     NULL,
    cum_deaths_28_days_by_publish_date_rate             NUMERIC     NULL,
    new_deaths_28_days_by_death_date                    NUMERIC     NULL,
    cum_deaths_28_days_by_death_date                    NUMERIC     NULL,
    cum_deaths_28_days_by_death_date_rate               NUMERIC     NULL,
    new_people_vaccinated_first_dose_by_publish_date    NUMERIC     NULL,
    new_people_vaccinated_second_dose_by_publish_date   NUMERIC     NULL,
    cum_people_vaccinated_first_dose_by_publish_date    NUMERIC     NULL,
    cum_people_vaccinated_second_dose_by_publish_date   NUMERIC     NULL
);
"""
_ = conn.executescript(sql)

### c19dashboard_uk__summary_daily_metrics

This is used to store data downloaded where areaType = Overall.  For more details see: https://coronavirus.data.gov.uk/details/developers-guide

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS c19dashboard_uk__summary_daily_metrics;

CREATE TABLE IF NOT EXISTS c19dashboard_uk__summary_daily_metrics (
    area_type                               TEXT              NOT NULL, 
    area_name                               TEXT              NOT NULL, 
    area_code                               TEXT              NOT NULL, 
    date                                    DATE              NOT NULL,
    new_cases_by_publish_date               NUMERIC           NULL, 
    cum_cases_by_publish_date               NUMERIC           NULL, 
    cum_cases_by_publish_date_rate          NUMERIC           NULL,
    new_cases_by_specimen_date              NUMERIC           NULL, 
    cum_cases_by_specimen_date              NUMERIC           NULL, 
    cum_cases_by_specimen_date_rate         NUMERIC           NULL,
    new_pillar_one_tests_by_publish_date    NUMERIC           NULL, 
    cum_pillar_one_tests_by_publish_date    NUMERIC           NULL, 
    new_pillar_two_tests_by_publish_date    NUMERIC           NULL, 
    cum_pillar_two_tests_by_publish_date    NUMERIC           NULL, 
    new_pillar_three_tests_by_publish_date  NUMERIC           NULL, 
    cum_pillar_three_tests_by_publish_date  NUMERIC           NULL, 
    new_pillar_four_tests_by_publish_date   NUMERIC           NULL, 
    cum_pillar_four_tests_by_publish_date   NUMERIC           NULL,     
    new_admissions                          NUMERIC           NULL, 
    cum_admissions                          NUMERIC           NULL, 
    cum_tests_by_publish_date               NUMERIC           NULL, 
    new_tests_by_publish_date               NUMERIC           NULL, 
    covid_occupied_mv_beds                  NUMERIC           NULL, 
    hospital_cases                          NUMERIC           NULL, 
    planned_capacity_by_publish_date        NUMERIC           NULL,    
    new_deaths_28_days_by_publish_date      NUMERIC           NULL, 
    cum_deaths_28_days_by_publish_date      NUMERIC           NULL, 
    cum_deaths_28_days_by_publish_date_rate NUMERIC           NULL, 
    new_deaths_28_days_by_death_date        NUMERIC           NULL, 
    cum_deaths_28_days_by_death_date        NUMERIC           NULL, 
    cum_deaths_28_days_by_death_date_rate   NUMERIC           NULL
);
"""
_ = conn.executescript(sql)

### c19dashboard_uk__nhsregion_daily_metrics

This is used to store data downloaded where areaType = nhsRegion.  For more details see: https://coronavirus.data.gov.uk/details/developers-guide

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS c19dashboard_uk__nhsregion_daily_metrics;

CREATE TABLE IF NOT EXISTS c19dashboard_uk__nhsregion_daily_metrics (
    area_type                              TEXT      NOT NULL,
    area_name                              TEXT      NOT NULL,
    area_code                              TEXT      NOT NULL,
    date                                   DATE      NOT NULL,
    new_admissions                         NUMERIC   NULL,
    cum_admissions                         NUMERIC   NULL,
    cum_admissions_by_age                  NUMERIC   NULL,
    covid_occupied_mv_beds                 NUMERIC   NULL,
    hospital_cases                         NUMERIC   NULL
);
"""
_ = conn.executescript(sql)

### c19dashboard_uk__region_daily_metrics

This is used to store data downloaded where areaType = region.  For more details see: https://coronavirus.data.gov.uk/details/developers-guide

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS c19dashboard_uk__region_daily_metrics;

CREATE TABLE IF NOT EXISTS c19dashboard_uk__region_daily_metrics (
    area_type                               TEXT    NOT NULL,
    area_name                               TEXT    NOT NULL,
    area_code                               TEXT    NOT NULL,
    date                                    DATE    NOT NULL,
    new_cases_by_publish_date               NUMERIC NULL, 
    cum_cases_by_publish_date               NUMERIC NULL,
    cum_cases_by_publish_date_rate          NUMERIC NULL,
    new_cases_by_specimen_date              NUMERIC NULL,
    cum_cases_by_specimen_date              NUMERIC NULL,
    cum_cases_by_specimen_date_rate         NUMERIC NULL,
    male_cases                              TEXT    NULL,
    female_cases                            TEXT    NULL,    
    new_deaths_28_days_by_publish_date      NUMERIC NULL,
    cum_deaths_28_days_by_publish_date      NUMERIC NULL,
    cum_deaths_28_days_by_publish_date_rate NUMERIC NULL,
    new_deaths_28_days_by_death_date        NUMERIC NULL,
    cum_deaths_28_days_by_death_date        NUMERIC NULL,
    cum_deaths_28_days_by_death_date_rate   NUMERIC NULL
);
"""
_ = conn.executescript(sql)

### c19dashboard_uk__utla_daily_metrics

This is used to store data downloaded where areaType = utla.  For more details see: https://coronavirus.data.gov.uk/details/developers-guide

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS c19dashboard_uk__utla_daily_metrics;

CREATE TABLE IF NOT EXISTS c19dashboard_uk__utla_daily_metrics (
    area_type                               TEXT        NOT NULL, 
    area_name                               TEXT        NOT NULL,
    area_code                               TEXT        NOT NULL,
    date                                    DATE        NOT NULL,
    new_cases_by_publish_date               NUMERIC     NULL,
    cum_cases_by_publish_date               NUMERIC     NULL,
    cum_cases_by_publish_date_rate          NUMERIC     NULL,
    new_cases_by_specimen_date              NUMERIC     NULL,
    cum_cases_by_specimen_date              NUMERIC     NULL,
    cum_cases_by_specimen_date_rate         NUMERIC     NULL,
    new_deaths_28_days_by_publish_date      NUMERIC     NULL,
    cum_deaths_28_days_by_publish_date      NUMERIC     NULL,
    cum_deaths_28_days_by_publish_date_rate NUMERIC     NULL,
    new_deaths_28_days_by_death_date        NUMERIC     NULL,
    cum_deaths_28_days_by_death_date        NUMERIC     NULL,
    cum_deaths_28_days_by_death_date_rate   NUMERIC     NULL
);
"""
_ = conn.executescript(sql)

### c19dashboard_uk__ltla_daily_metrics

This is used to store data downloaded where areaType = ltla.  For more details see: https://coronavirus.data.gov.uk/details/developers-guide

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS c19dashboard_uk__ltla_daily_metrics;

CREATE TABLE IF NOT EXISTS c19dashboard_uk__ltla_daily_metrics (
    area_type                               TEXT        NOT NULL,
    area_name                               TEXT        NOT NULL,
    area_code                               TEXT        NOT NULL,
    date                                    DATE        NOT NULL,
    new_cases_by_publish_date               NUMERIC     NULL,
    cum_cases_by_publish_date               NUMERIC     NULL,
    cum_cases_by_publish_date_rate          NUMERIC     NULL,
    new_cases_by_specimen_date              NUMERIC     NULL,
    cum_cases_by_specimen_date              NUMERIC     NULL,
    cum_cases_by_specimen_date_rate         NUMERIC     NULL,
    new_deaths_28_days_by_publish_date      NUMERIC     NULL,
    cum_deaths_28_days_by_publish_date      NUMERIC     NULL,
    cum_deaths_28_days_by_publish_date_rate NUMERIC     NULL,
    new_deaths_28_days_by_death_date        NUMERIC     NULL,
    cum_deaths_28_days_by_death_date        NUMERIC     NULL,
    cum_deaths_28_days_by_death_date_rate   NUMERIC     NULL
);
"""
_ = conn.executescript(sql)

### c19dashboard_uk__national_cases_by_age_gender

This table stored data derived from the national level data where the maleCases and femaleCases metrics store an age breakdown of cases in JSON format.

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS c19dashboard_uk__national_cases_by_age_gender;

CREATE TABLE IF NOT EXISTS c19dashboard_uk__national_cases_by_age_gender (
    area_type  TEXT        NOT NULL,
    area_name  TEXT        NOT NULL,
    area_code  TEXT        NOT NULL,
    date       DATE        NOT NULL,
    gender     TEXT        NOT NULL,
    age        TEXT        NOT NULL,
    rate       NUMERIC     NULL,
    cum_cases  NUMERIC     NULL,
    new_cases  NUMERIC     NULL
);
"""
_ = conn.executescript(sql)

### reference_geography__age_gender_populations

This provides populations at different gender and age groups for various different area types - such as UTLA and UTLA as well as National and Regional level populations.

This data is available to download from the GOV.UK website here: https://coronavirus.data.gov.uk/details/download

More information can be found on the ONS website: https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS reference_geography__age_gender_populations;

CREATE TABLE IF NOT EXISTS reference_geography__age_gender_populations (
    category   TEXT     NOT NULL, 
    area_code  TEXT     NOT NULL, 
    gender     TEXT     NOT NULL, 
    age        TEXT     NOT NULL, 
    population NUMERIC  NOT NULL
);
"""
_ = conn.executescript(sql)

### reference_geography__ltla_utla_region_mappings

This provides mappings between local authorities and regions.  This data was originally derived from a lookup available from the ONS: https://geoportal.statistics.gov.uk/

However, currently this data does not appear available online - therefore we have maintained a local copy of the CSV data.

In [ ]:
# replace any existing table using DROP TABLE
sql = """
DROP TABLE IF EXISTS reference_geography__ltla_utla_region_mappings;

CREATE TABLE IF NOT EXISTS reference_geography__ltla_utla_region_mappings (
    ltla_code    TEXT     NOT NULL,
    ltla_name    TEXT     NOT NULL,
    utla_code    TEXT     NOT NULL,
    utla_name    TEXT     NOT NULL,
    region_code  TEXT     NOT NULL,
    region_name  TEXT     NOT NULL
);
"""
_ = conn.executescript(sql)

### Check Sqlite metadata to see tables created

Use the `sqlite_schema` to double check all the tables have been created as expected.

In [ ]:
pd.read_sql('SELECT name FROM sqlite_schema', conn)

We can also check the table column metadata using `PRAGMA schema.table_info(table-name)` - the same information can be included in a `SELECT` statement using `pragma_table_info`

In [ ]:
sql = """
SELECT
    tbl.name AS table_name,
    col.name AS column_name,
    col.type AS column_type,
    CASE WHEN col.[notnull] = 1 THEN 'Not Nullable' ELSE 'Nullable' END AS column_nullability
FROM 
    sqlite_schema AS tbl,
    pragma_table_info(tbl.name) AS col
WHERE tbl.type='table'
ORDER BY 
    tbl.name,
    col.cid;
"""
pd.read_sql(sql, conn)

### Cleanup

Ensure all changes are committed and then close the Sqlite connection.  Also force garbage collection - at this point, there should be no locks on the database file so it could be zipped up and deleted.

In [ ]:
import gc

# Commit and close Sqlite connection
conn.commit()
conn.close()

# Force garbage collection
_ = gc.collect(2)

### Optional: Compress Sqlite database file 

To help keep file sizes small and to allow the database to be easily stored in a Git repo, you may want to compress the database file and then remove the original.

In [ ]:
import os
import gzip
import shutil

with open(sqlite_db_path, "rb") as f_in:
    with gzip.open(sqlite_db_path + ".gz", "wb") as f_out:
        shutil.copyfileobj(f_in, f_out)
        
os.remove(sqlite_db_path)